#Arcial{ 
    text-decoration: none;
color: black;
font-size: 1em;
font-family: Arial, Helvetica, sans-serif;
}
#Login{ 
    text-decoration: none;
    color: black;
    size: 2em;
}
#Help{
    text-decoration: none;
    color: black;
}
b{
    font-size: 2.5em;
}
#center{
font-size: 4em;

}

#centerr{
    font-size: 1.5em;
}
#signup{
    text-decoration: none;
    background-color: greenyellow
}

